@font-face {
   font-family: 'Pacifico';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/joannekenney/Documents/WIRI/website/womeninresearchireland.github.io/fonts/Pacifico/regular.ttf') format('truetype');
}
